<configuration>
  <!-- Console appender -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%d{HH:mm:ss}] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Slick SQL logging -->
  <logger name="scala.slick.jdbc" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <!-- Root logger -->
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
